{% load staticfiles %}

<!DOCTYPE html>
<html>
<title>ZhiFutime {% block title %}{% endblock %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static "w3.css" %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-teal w3-card-2 w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-large w3-hide-medium w3-right w3-padding-small w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Меню"><i class="fa fa-bars"></i></a>
    <a href="{% url "home_page" %}" class="w3-bar-item w3-button w3-padding-small w3-white">Главная</a>
    <a href="{% url "articles" %}" class="w3-bar-item w3-button w3-hide-small  w3-padding-small w3-hover-white">Статьи (Видео)</a>
      <a href="{% url "prediction" %}" class="w3-bar-item w3-button w3-hide-small  w3-padding-small w3-hover-white">Прогноз</a>
    <a href="{% url "services" %}" class="w3-bar-item w3-button w3-hide-small  w3-padding-small w3-hover-white">Услуги</a>
    <a href="{% url "thesaurus" %}" class="w3-bar-item w3-button w3-hide-small  w3-padding-small w3-hover-white">Словарь терминов</a>
    <a href="{% url "projectinfo" %}" class="w3-bar-item w3-button w3-hide-small  w3-padding-small w3-hover-white">О проекте</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="{% url "articles" %}" class="w3-bar-item w3-button w3-padding-large">Статьи (Видео)</a>
    <a href="{% url "services" %}" class="w3-bar-item w3-button w3-padding-large">Услуги</a>
    <a href="{% url "prediction" %}" class="w3-bar-item w3-button w3-padding-large">Прогноз</a>
    <a href="{% url "thesaurus" %}" class="w3-bar-item w3-button w3-padding-large">Словарь терминов</a>
    <a href="{% url "projectinfo" %}" class="w3-bar-item w3-button w3-padding-large">О проекте</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-green w3-center" style="padding:56px 16px">
    <img class="w3-left w3-circle w3-hide-small" src="{% static "Four-Pillars.png" %}" style="width:128px;height:128px;">

    <div class="w3-center">
    <h1 class="w3-margin">ZhiFutime</h1>
    <p class="w3-xlarge">Три кита китайской метафизики</p>
  </div>
</header>

<div class="w3-row w3-teal" style="text-align: justify">
<div class="w3-col m9 s12 w3-padding-large">
<p>Обычно, люди начинают задумываться над тем, что происходит в их жизни, когда случается что-то из ряда вон выходящее.
Но, даже в этом случае, почему-то принято обвинять в этом правительство, мужа/жену, начальника и т.п.
Как-то страшно брать ответственность на себя…</p>
<p>К счастью, есть те, кто решает разобраться в перипетиях своей судьбы, самому исправить ситуацию.</p>
<p>Помочь понять и улучшить ситуацию может китайская метафизика –
Ба Цзы, Фэн-шуй, ЦМДЦ.</p>
<p>Ба Цзы – это карта судьбы и удачи, это то, что предопределено нам с рождения, и то, что мы изменить не можем, но можем использовать себе на благо.
Например – если по судьбе идет неблагоприятный период, и человек в это время может наделать глупостей, вкладывая, например, деньги в какое-то предприятие, лучше это время переждать, накопить знаний, навыков, и потом уже в благоприятное, лично для него, время сделать то, что будет для него на самом деле лучшим.
Часто карту рождения (Ба Цзы)  называют Небесной удачей – это 33% всей нашей удачи.</p>
<p>Фэн-шуй – это пространство, в котором мы живем, работаем. И, от того в каком месте мы живем и работаем, зависит наша – Земная удача – вторые 33%.
И это, по возможности, при желании, можно изменить, переехав в другое, лучшее место.</p>
<p>Или, наоборот, когда человек находится в плохом  периоде удачи, может купить не самое лучшее жилье, тем самым еще больше ухудшить свою жизнь.
Остается еще 33%. Что же это?</p>
<p>Это, так называемая, Человеческая удача – действия самого человека. И, от того, как ведет себя человек, как использует свои возможности и относится к неприятностям, зависит его жизнь.
В китайской метафизике для улучшения удачи, решения, порой, самых трудных задач, используются знания древнего китайского течения – Ци Мэнь Дун Цзя.</p>
<p>На этом сайте мы будем рассказывать Вам о том, как и на что, обратить внимание, что сделать для того, чтобы улучшить свою жизнь, свою удачу.</p>
</div>
<div class="w3-col w3-red w3-hide-small m3">
    пррогноз всё такое

</div>

</div>
<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
