{%  extends 'basetry.html' %}
{% block title %} Китайская метафизика{% endblock %}
{% block main_content %}
<p>Обычно, люди начинают задумываться над тем, что происходит в их жизни, когда случается что-то из ряда вон выходящее.
Но, даже в этом случае, почему-то принято обвинять в этом правительство, мужа/жену, начальника и т.п.
Как-то страшно брать ответственность на себя…</p>
<p>К счастью, есть те, кто решает разобраться в перипетиях своей судьбы, самому исправить ситуацию.</p>
<p>Помочь понять и улучшить ситуацию может китайская метафизика –
Ба Цзы, Фэн-шуй, ЦМДЦ.</p>
<p>Ба Цзы – это карта судьбы и удачи, это то, что предопределено нам с рождения, и то, что мы изменить не можем, но можем использовать себе на благо.
Например – если по судьбе идет неблагоприятный период, и человек в это время может наделать глупостей, вкладывая, например, деньги в какое-то предприятие, лучше это время переждать, накопить знаний, навыков, и потом уже в благоприятное, лично для него, время сделать то, что будет для него на самом деле лучшим.
Часто карту рождения (Ба Цзы)  называют Небесной удачей – это 33% всей нашей удачи.</p>
<p>Фэн-шуй – это пространство, в котором мы живем, работаем. И, от того в каком месте мы живем и работаем, зависит наша – Земная удача – вторые 33%.
И это, по возможности, при желании, можно изменить, переехав в другое, лучшее место.</p>
<p>Или, наоборот, когда человек находится в плохом  периоде удачи, может купить не самое лучшее жилье, тем самым еще больше ухудшить свою жизнь.
Остается еще 33%. Что же это?</p>
<p>Это, так называемая, Человеческая удача – действия самого человека. И, от того, как ведет себя человек, как использует свои возможности и относится к неприятностям, зависит его жизнь.
В китайской метафизике для улучшения удачи, решения, порой, самых трудных задач, используются знания древнего китайского течения – Ци Мэнь Дун Цзя.</p>
<p>На этом сайте мы будем рассказывать Вам о том, как и на что, обратить внимание, что сделать для того, чтобы улучшить свою жизнь, свою удачу.</p>
{% endblock %}