<div class="share-social">
        <h3 class="w3-text-blue w3-large w3-padding-small">
            Поделиться:
   <a href="http://vk.com/share.php?url={{ request.build_absolute_uri }}"
   target="_blank" rel="nofollow">
   <i class="fa fa-vk w3-hover-opacity"></i></a>&nbsp

   <a href="https://twitter.com/share?url={{ request.build_absolute_uri }}"
   target="_blank" rel="nofollow">
   <i class="fa fa-twitter w3-hover-opacity"></i></a>&nbsp

   <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
   target="_blank" rel="nofollow">
   <i class="fa fa-facebook w3-hover-opacity"></i></a>&nbsp

   <a href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st._surl={{ request.build_absolute_uri }}"
   target="_blank" rel="nofollow">
   <i class="fa fa-odnoklassniki w3-hover-opacity"></i></a></h3>
</div>